<!doctype html>
<html lang="en">
  <head>
    <title>my Task</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/css/uikit.min.css"></link>
<link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit-icons.min.js"></script>



</head>
  <body>
      <section style="background-image: url(assets/images/Bitmap.jpg); background-repeat: no-repeat; background-position: center;"> 
      <header>
          <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">Maxeon</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Use Cases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li>
                      <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#myModal">
                        Signup
                      </button>
                    
                    </li>
                  </ul>
                </div>
              </nav>
          </div>
      </header>
      <section class="banner">
          <div class="container">
            <div class="row">
               <div class="col-sm-6">
                  <h2><b>Where</b>  </h2>
                  <h2> Words</h2>
                  <h2>Fail,</h2>
                  <h2>Music</h2>
                  <h2> Speaks.</h2>
                  

                  
               </div>
            </div>
          </div>
      </section>

    </section>


    
    <div class="container">
     
<div class="search-bar">
    <div class="input-group mb-4 border rounded-pill p-1">
      <div class="input-group-prepend border-0">
        <button id="button-addon4" type="button" class="btn btn-link text-info"><i class="fa fa-search"></i></button>
      </div>
      <input type="search" placeholder="Search for Playlists, Albums or Songs" aria-describedby="button-addon4" class="form-control bg-none border-0">
    </div>
  </div>
  
</div>

<section>
  <div class="container">
    <div class="row">
    <div class="col-md-6">
      <h2 class="h2-style">LIVE SPORTS.<br>
        MUSIC.<br>
        NEWS.<br>
        PODCASTS.</h2>
    </div>
    <div class="col-md-6">
      
      <div class="history-tl-container">
        <ul class="tl">
          <li class="tl-item active" ng-repeat="item in retailer_history">
           
            <div class="item-title color">emuse brings you live <br> sports</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            
            <div class="item-title">emuse brings you live sports</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
           
            <div class="item-title">emuse brings you live sports</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
           
            <div class="item-title">emuse brings you live sports</div>
          </li>
      
        </ul>
      
      </div>
    </div>
  </div>
</div>
</section>




<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 margin-top">
        <h1 style="text-align: center;">Ut enim ad minima </h1>
        <p style="text-align: center;"> At vero eos et accusamus et iusto odio dignissimos <br>ducimus qui blanditiis</p>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3 margin-top">
        <h3 style="text-align: center; font-weight: 600;">Ut enim ad minima </h3>
        <p style="text-align: center;"> At vero eos et accusamus et iusto odio dignissimos <br>ducimus qui blanditiis</p>
      </div>
      <div class="col-sm-1 Responsive-none">
<img src="assets/images/Vector 1.png">
      </div>
      <div class="col-sm-3 margin-top">
        <h3 style="text-align: center; font-weight: 600;">Ut enim ad minima </h3>
        <p style="text-align: center;"> At vero eos et accusamus et iusto odio dignissimos <br>ducimus qui blanditiis</p>
      </div>
      <div class="col-sm-1 Responsive-none">
        <img src="assets/images/Vector 1.png">
      </div>
      <div class="col-sm-3 margin-top">
        <h3 style="text-align: center; font-weight: 600; ">Ut enim ad minima </h3>
        <p style="text-align: center;"> At vero eos et accusamus et iusto odio dignissimos <br>ducimus qui blanditiis</p>
      </div>
      
    </div>
  </div>
</section >




<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 pic-margin">
        <div class='container1'>
          <div class='box box1'>
            <img class="bor-rad" src="assets/images/lady.png" >
          </div>
          <div class='box box2'>
            <img class="bor-rad" src="assets/images/Bitmap (1).png" >
          </div>
          <div class='box box3'>
            <img class="bor-rad" src="assets/images/Bitmap (2).png" >
          </div>
        </div>
        <div class='container2'>
          <div class='box box4'>
            <img class="bor-rad" src="assets/images/Bitmap (3).png" >
          </div>
        </div>
        
      </div>
      <div class="col-md-6 left-bar">
        <h3 class="h3-color">EVOLVE.<br>
          EXPLORE.</h3>
          <p>All the pods you hold dear, find them here first.<br> From chart toppers to newly discovered gems.</p>
          <button type="button" class="btn btn-primary3" ><i class="fa fa-play-circle"></i> Listen Now</button>

      </div>
    </div>
  </div>
</section>

<section class="my-img">
  <img src="assets/images/emusa.jpg" width="100%" height="50%"> 

</section>

<section>
  <div class="container">
    <div class="row">
  <div class="col-md-12 margin-top">
    <h1 style="text-align: center; font-weight: 600;">Ut enim ad minima </h1>
    <p style="text-align: center;"> At vero eos et accusamus et iusto odio dignissimos <br>ducimus qui blanditiis</p>
  </div>
  <div class="col-md-6 margin-bottom">
    <div class="my-para" >
    <h3 style="font-weight: 600;
    font-size: 28px;">Consequuntur magni </h3>
    <p >Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia </p>
  </div>
</div>
<div class="col-md-6 margin-bottom">
  <img src="assets/images/Frame 500.png" width="100%" height="100%" >
</div>



  <div class="col-md-6 margin-bottom">
    <img src="assets/images/Frame 500.png" width="100%" height="100%" >
  </div>
  <div class="col-md-6 margin-bottom">
    <div class="my-para" >
    <h3 style="font-weight: 600;
    font-size: 28px;">Consequuntur magni </h3>
    <p >Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia </p>
  </div>
</div>
<div class="col-md-6 margin-bottom">
  <div class="my-para" >
  <h3 style="font-weight: 600;
  font-size: 28px;">Consequuntur magni </h3>
  <p >Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia </p>
</div>
</div>
<div class="col-md-6 margin-bottom">
<img src="assets/images/Frame 500.png" width="100%" height="100%">
</div>
</div>
</div>
</section>















<section style="background-color: #A2ABBA;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="rocket-img" src="assets/images/rocket 1.png" width="70%">

      </div>
      <div class="col-md-6">
        <h2 class="rocket">Accusantium doloremque laudantium</h2>
        <div class="flex-container">
            <div class="flex-item-left"> <i class='fas fa-check-double' style='font-size:20px ;color:rgb(255, 254, 254)'></i> Neque porro <br>
                quisquam </div>
            <div class="flex-item-right"><i class='fas fa-check-double' style='font-size:20px ;color:rgb(255, 254, 254)'></i> Neque porro <br>
                quisquam </div>
             <div class="flex-item-left"><i class='fas fa-check-double' style='font-size:20px ;color:rgb(255, 254, 254)'></i> Neque porro <br>
                quisquam </div>
            <div class="flex-item-right"><i class='fas fa-check-double' style='font-size:20px ;color:rgb(255, 254, 254)'></i> Neque porro <br>
                quisquam </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-color">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p class="top-margin">Copyright @  maxeon Inc. 2018-19 | Privacy Policy | Terms of Service | Sitemap</p>
      </div>
      <div class="col-md-4">
       <p class="h3-cpg"> Maxeon
       </p> 
      </div>
    </div>
  </div>
  
  

</section>



     <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
      
        
        <!-- Modal body -->
        <div class="modal-body">
          <form action="/action_page.php" >
            <div class="container">
              <h1 class="head1">Sign Up</h1>
              <div class="underline">

              </div>
             <label for="email"><b>Full Name</b></label>
              <input type="text" placeholder="First and Last name" name="email" required>
          
              <label for="email"><b>Email Address</b></label>
              <input type="text" placeholder="username@gmail.com" name="email" required>
          
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Password" name="psw" required>
          
              <label for="psw-repeat"><b>Confirm Password</b></label>
              <input type="password" placeholder="Re-enter Password" name="psw-repeat" required>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Signup</button>
              <p>By signing up, you agree to our Terms of Service & Privacy Policy</p>
            
              
             
          
             
            </div>
          </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          
        </div>
        
      </div>
    </div>
  </div>
  
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- Start of ChatBot (www.chatbot.com) code -->
<!-- Start of ChatBot (www.chatbot.com) code -->
<!-- Start of ChatBot (www.chatbot.com) code -->
620f4168844d9e46ec34859d
<!-- End of ChatBot code -->
<!-- End of ChatBot code -->

<!-- End of ChatBot code -->
  </body>
</html>
